.App {
  text-align: center;
}
.box{
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.accordion{
  width: 500px;
}
.item{
  background-color: aqua;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title{
  color: mediumvioletred;
}
.content{
  color: black;
}